.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.update-card {
  flex: 1 1 300px;
  max-width: 250px;
  margin: 10px;
}

.profile-card {
  flex: 1 1 300px;
  max-width: 250px;
  margin: 10px;
  max-height: 200px;
}

.profile-info p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

h2 {
  font-size: 2rem;
  justify-self: center;
}
mat-card-title mat-icon {
  vertical-align: middle;
  margin-right: 10px;
}

.card-actions {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  margin-top: auto; /* Push the button to the bottom */
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5%;
}

.movie-card {
  flex: 1 1 50%;
  max-width: 300px;
  // margin: 10px;
  height: 500px; // Adjust height as needed
  align-items: center;
}

.card-header {
  height: 60px;
}
.card-image {
  height: 340px;
  width: 240px;
  margin-bottom: 20px;
}

.no-movies {
  justify-self: center;
}
